
.channel-box {
	width: 90%;
	height: 150px;
	background-color: #f0f0f0;
	border: 5px solid #ccc;
	margin: 10px;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.channel-box:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: aliceblue;
	cursor: pointer;
}


.channel-box .owner {
	margin: 5px;
	width: 15%;
	height: 100%;
	text-align: center;
}

.channel-box  .owner .ownerUsername {
	text-align: center;
}

.channel-box .owner .ownerimg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}


.channel-box .channelInfo {
	width: 90%;
	height: 100%;
}

.channel-box .channelInfo .channelName {
	width: 89%;
	text-align: center;
	height: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.channel-box .channelInfo .channelMode {
	text-align: center;
}

.channel-form  {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box; /* Assure que la largeur inclut le padding et la bordure */
  }

.channel-form label {
	display: block;
	margin-bottom: 8px;
}

.channel-form
input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.channel-form button {
	background-color: #4caf50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
.channel-formbutton:hover {
	background-color: #45a049;
  }
