.App {
  height: 100vh;
  background-color: grey;
  text-align: center;
}

.login-choice {
  width: 20%;
  height: 30%;
  margin-top: 15%;
  margin-left: 40%;
  border: solid;
  border-color: blue;
 }

.Left_button{
  float: left;
}
.Right_button{
  float: right;
}

header {
  height: 5%;
  border: solid;
  border-color: blue;
  border-width: 1px;
}
