.RetroGamePad {
	--position: 50;
	
	position: absolute;
	top: calc(var(--position) * 1vh);
	transform: translate(-50%, -50%);
	left: 5vw;
		
	height: 10vh;
	width: 2vh;
	background-color: #ffffff;
}

.RetroOpponentPad {
	--position: 50;
	
	position: absolute;
	top: calc(var(--position) * 1vh);
	transform: translate(50%, -50%);
	right: 5vw;
	
	height: 10vh;
	width: 2vh;
	background-color: #ffffff;
}
