.RetroGamePad {
	--position: 50;
	position: absolute;
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	left: 5vw;
		
	height: 2.86vh;
	width: 0.76vh;
	background-color: #ffffff;
}

.RetroOpponentPad {
	--position: 50;
	
	position: absolute;
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	right: 5vw;
	
	height: 2.86vh;
	width: 0.76vh;
	background-color: #ffffff;
}
